Data downloaded from:

https://catalog.data.gov/dataset/lottery-powerball-winning-numbers-beginning-2010/resource/056eb632-0fb0-4d32-a791-93cf74bd7429

https://catalog.data.gov/dataset/lottery-mega-millions-winning-numbers-beginning-2002

In [2]:
# Are there number combinations that have repeated?
# Create frequency table for patterns how many odds and evens
# Check for frequency of each number, additionally, check when it was last drawn

# On 10/31/17, rule change from 5/75 + 1/15 to the current 5/70 + 1/25.

### Set Up

In [92]:
import pandas as pd
import numpy as np
import datetime

mega_raw = pd.read_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv', encoding="Latin-1")
mega_raw = mega_raw.drop(columns=['Multiplier'])

#print(mega_raw[mega_raw['Draw Date']=='10/31/2017'].index.values)

#versions changes:
# Starting data/ White/Mega 

# 05/15/2002 -  52/52 
# 06/24/2005 -  56/46 - index 324
# 10/22/2013 -  75/15 - index 1190
# 10/31/2017 -  70/25  - index 1610

mega_first = mega_raw.loc[:323, :]
mega_second = mega_raw.loc[324:1189, :]
mega_third = mega_raw.loc[1190:1609, :]
mega_fourth = mega_raw.loc[1610:, :]

#size of each datafram
#324 rows
#866 rows
#420 rows
#262 rows

### Lottery Frequency Functions

In [ ]:
#mega_pre[['First','Second', 'Third', 'Fourth', 'Fifth']] = mega_pre['Winning Numbers'].str.split(' ', expand = True).astype(int) 
#mega_pre= mega_pre.drop(columns=['Winning Numbers'])
#megaball_pre_count = mega_pre['Mega Ball'].value_counts().rename_axis('Mega Ball').reset_index(name='Counts')
## calculate the last instance of the number by looping backwards
#mega_pre_main = mega_pre.drop(columns='Mega Ball')
#mega_pre_main = pd.melt(mega_pre_main, id_vars=['Draw Date'], var_name='Ball Order', value_name='Number')
#mega_pre_count = mega_pre_main['Number'].value_counts().rename_axis('White Ball').reset_index(name='Counts')


# These functions replaces the commented code aboce
def split_cols(df, name1, name2, name3, name4, name5):
    df[[name1, name2, name3, name4, name5]] = df['Winning Numbers'].str.split(' ', expand = True).astype(int) 
    df= df.drop(columns=['Winning Numbers'])
    return df   

def megaball(df, col_number):
    df = df.iloc[:,:col_number]
    return df

def whiteball(df, ball_type):
    df = df.drop(columns='Mega Ball',)
    df = pd.melt(df, id_vars=['Draw Date'], var_name='Ball Order', value_name=ball_type)
    df = df.drop(columns = ['Ball Order'])
    return df

def ballcount(df, col_name, count_name):
    df = df[col_name].value_counts().rename_axis(col_name).reset_index(name=count_name)
    return df
    
# This function would return the last drawn date for each number
def checkdate(df):
    emptydict = {}
    for i, j in df.iterrows():
        date = j[0]
        number = j[1]
        emptydict[number] = date
    return emptydict

### Mega Millions Frequency 05/17/2002 - 06/21/2005

In [5]:
first_df = mega_first.copy()

firstdf = split_cols(first_df, 'First', 'Second', 'Third', 'Fourth', 'Fifth')
first_mega = megaball(firstdf, 2)
first_white = whiteball(firstdf, 'White Ball')
first_megacount = ballcount(first_mega, 'Mega Ball', 'Count')
first_whitecount = ballcount(first_white, 'White Ball', 'Count')

first_white.head()
#first_white = first_white.loc[:2000, :]


#checkdate(first_white)
#checkdate(first_mega)

    Draw Date  White Ball
0  05/17/2002          15
1  05/21/2002           4
2  05/24/2002           2
3  05/28/2002           6
4  05/31/2002          12

### Mega Millions Frequency 06/24/2005 - 10/15/2013

In [7]:
second_df = mega_second.copy()

seconddf = split_cols(second_df, 'second', 'Second', 'Third', 'Fourth', 'Fifth')
second_mega = megaball(seconddf, 2)
second_white = whiteball(seconddf, 'White Ball')
second_megacount = ballcount(second_mega, 'Mega Ball', 'Count')
second_whitecount = ballcount(second_white, 'White Ball', 'Count')

second_megacount.head()
second_whitecount.head()

#checkdate(second_mega)
#checkdate(second_white)

   White Ball  Count
0          48     99
1           2     92
2          53     89
3          20     89
4          36     89

### Mega Millions Frequency 10/22/2013 - 10/27/2017

In [20]:
third_df = mega_third.copy()

thirddf = split_cols(third_df, 'third', 'Second', 'Third', 'Fourth', 'Fifth')
third_mega = megaball(thirddf, 2)
third_white = whiteball(thirddf, 'White Ball')
third_megacount = ballcount(third_mega, 'Mega Ball', 'Count')
third_whitecount = ballcount(third_white, 'White Ball', 'Count')

third_megacount.head()
third_whitecount.head()

#checkdate(third_white)
#checkdate(third_mega)

   White Ball  Count
0          31     41
1          35     38
2          51     38
3          20     38
4          25     37

### Mega Millions Frequency 10/31/2017 - 05/01/2020

In [102]:
fourth_df = mega_fourth.copy()

fourthdf = split_cols(fourth_df, 'fourth', 'Second', 'Third', 'Fourth', 'Fifth')
fourth_mega = megaball(fourthdf, 2)
fourth_white = whiteball(fourthdf, 'White Ball')
fourth_megacount = ballcount(fourth_mega, 'Mega Ball', 'Count')
fourth_whitecount = ballcount(fourth_white, 'White Ball', 'Count')

checkdate(fourth_white)
checkdate(fourth_mega)

fourth_whitedate = pd.DataFrame(checkdate(fourth_white).items(), columns=['White Ball', 'Last Drawn Date'])
fourth_megadate = pd.DataFrame(checkdate(fourth_mega).items(), columns=['Mega Ball', 'Last Drawn Date'])

# Merging the frequency dataframe with date dataframe
fourth_whitecountdate = fourth_whitecount.merge(fourth_whitedate, left_on = 'White Ball', right_on = 'White Ball', how= 'right')
fourth_whitecountdate.head()
fourth_whitecountdate['Last Drawn Date']= pd.to_datetime(fourth_whitecountdate['Last Drawn Date'])

# Calculating days since the number has been last drawn
now = datetime.datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
fourth_whitecountdate['Days Since Last Drawing'] = now - fourth_whitecountdate['Last Drawn Date']

    White Ball  Count Last Drawn Date Days Since Last Drawing
0           31     28      2020-03-24                 55 days
1           48     27      2019-10-08                223 days
2           70     26      2020-04-21                 27 days
3           14     26      2020-02-28                 80 days
4           62     26      2020-01-31                108 days
5           17     26      2019-10-08                223 days
6           10     25      2019-11-08                192 days
7            4     25      2018-07-24                664 days
8           28     25      2017-11-14                916 days
9           43     25      2019-11-26                174 days
10          24     24      2019-06-18                335 days
11          11     23      2019-08-30                262 days
12           8     23      2018-06-12                706 days
13          60     23      2020-04-10                 38 days
14          42     23      2018-08-10                647 days
15           3     22      2020-02-28                 80 days
16          34     22      2018-10-02                594 days
17          38     22      2020-01-24                115 days
18          39     22      2019-10-29                202 days
19           1     22      2020-04-24                 24 days
20          64     21      2020-03-03                 76 days
21           2     21      2018-09-21                605 days
22          30     21      2019-04-26                388 days
23          56     20      2020-01-07                132 days
24          12     20      2018-05-04                745 days
25          16     20      2020-02-21                 87 days
26          22     20      2018-08-10                647 days
27          59     20      2020-03-17                 62 days
28          54     20      2020-03-20                 59 days
29          37     20      2020-01-21                118 days
..         ...    ...             ...                     ...
40          63     18      2020-04-28                 20 days
41          49     18      2018-12-14                521 days
42          44     18      2020-03-13                 66 days
43          23     17      2020-01-24                115 days
44          57     17      2019-06-11                342 days
45          40     17      2018-02-02                836 days
46          41     17      2018-08-28                629 days
47          53     17      2019-11-22                178 days
48          15     17      2019-03-29                416 days
49          20     16      2018-12-07                528 days
50          47     16      2020-01-14                125 days
51           6     16      2020-02-11                 97 days
52          67     16      2020-04-24                 24 days
53          65     16      2019-11-29                171 days
54          27     16      2017-12-12                888 days
55           7     15      2020-02-21                 87 days
56          18     15      2018-05-04                745 days
57           9     14      2020-02-25                 83 days
58          51     13      2019-08-13                279 days
59          69     13      2020-03-10                 69 days
60          52     13      2020-02-07                101 days
61           5     12      2018-06-12                706 days
62          50     12      2019-05-28                356 days
63          55     12      2020-04-17                 31 days
64          35     12      2020-05-01                 17 days
65          19     11      2019-09-06                255 days
66          21     11      2018-08-07                650 days
67          26     11      2019-08-16                276 days
68          36     10      2020-02-07                101 days
69          45     10      2019-09-27                234 days

[70 rows x 4 columns]